[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.4"
djangorestframework = "3.14.0"
djangorestframework-simplejwt = "5.2.2"
markdown = "3.4.1"
dj-database-url = "1.2.0"
python-decouple = "3.6"
django-cors-headers = "3.13.0"
gunicorn = "20.1.0"
whitenoise = "6.2.0"
cloudinary = "1.30.0"
psycopg2-binary = "2.9.5"

[dev-packages]
black = "22.10.0"
autopep8 = "1.7.1"
pep8 = "1.7.1"
pylint = "2.15.5"
pylint-django = "2.5.3"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
